.footer {
    background-color: #FFFFFF;
    border-top: 1px solid var(--dark-green);
    padding: 1.5rem;
    font-size: 14px;
    color: var(--dark-green);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
