:root {
  --dark-green: #2E701B;
  --brown: #956849;
  --light-green: #98DB7C;
  --red: #FF0000;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Avenirnext,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
